* {
  font-family: "Raleway", sans-serif;
}

body {
  background-color: lightgray;
  color: #fff;
  margin: 0;
  text-align: center;
}

.header {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00bfff;
  padding: 30px;
  margin: 15px auto;
  max-width: 400px;
}
.container {
  background-color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: -15px auto;
  max-width: 400px;
}
button {
  background-color: #00bfff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
  font-size: 15px;
}
label {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  display: block;
  text-align: left;
  margin-bottom: -25px;
  margin-left: 9px;
}
input {
  margin: 10px;
  margin-left: 5px;
  padding: 6px;
  background-color: #201f1f;
  color: white;
  border: none;
  width: 382px;
  height: 60px;
  font-size: 23px;
  border-radius: 8px;
}
textarea {
  margin: 10px;
  margin-left: 5px;
  padding: 6px;
  background-color: #201f1f;
  color: white;
  border: none;
  width: 382px;
  height: 237px;
  font-size: 23px;
  border-radius: 8px;
}
#data-tarefa {
  font-size: 25px;
  padding: 6px;
}
#adicionar-tarefa {
  width: 382px;
  height: 60px;
  font-size: 20px;
  
}
